[user]
	email = robin.jarry@6wind.com
	name = Robin Jarry

[sendemail]
	suppressfrom = true
	chainreplyto = false
	confirm = always
	envelopesender = auto
	smtpuser = robin.jarry@6wind.com
	smtpserver = smtp.gmail.com
	smtpserverport = 465
	smtpencryption = ssl

[format]
	signoff = true

[color]
	diff = auto
	ui = auto

[alias]
	chpick = cherry-pick -sxe
	s = status --short --branch
	ci = commit -s
	co = checkout
	a = add -u
	l = log --oneline

[url "git@core:/aston/h_debit/scm/git/"]
	InsteadOf = "/aston/h_debit/scm/git/"

[log]
	decorate = true

[pull]
	rebase = true

[push]
	default = current
