# Up and Down keys can be used to search through history
"\e[A": history-search-backward
"\e[B": history-search-forward

"\e[1;5C": forward-word
"\e[1;5D": backward-word

# Completion becomes case insensitive
#set completion-ignore-case on

# Adds / @ and * after the completion proposals
# this allows to differentiate files from directories for example
set visible-stats on

# When ambiguous, show all possible completion items without having to hit Tab twice
set show-all-if-ambiguous on

# Control-SPACE cycles through completion proposals
Control-SPACE: menu-complete
